<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Counter</title>
  </head>
  <style>
    body {
      background-color: cyan;
    }
    h1 {
      margin-top: 95px;
      color: red;
      text-align: center;
      text-decoration: underline;
      text-decoration-color: indigo;
    }
    h2 {
      color: red;
      text-decoration: underline;
      text-align: center;
      text-decoration-color: indigo;
    }
  </style>
  <body>
    <h1>Welcome to count page!</h1>
    <h2>
      There are total {{total}} Words<br />
      {{key}}
    </h2>
  </body>
</html>
